@use "variables";

.btns-container {
  display: flex;
  gap: 1em;
}

.myanmar {
  font-family: "Century Burma";
}

.color-100 {
  color: variables.$color-100 !important;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 19;
  display: none;
  background-color: rgba(variables.$color-dark, 0.3);
  backdrop-filter: blur(0.5px);

  &.active {
    display: block;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  font-size: variables.$btn-mobile;
  // font-size: 1.12rem;
  padding: 0.65em 1.3em;
  border-radius: variables.$border-radius;
  color: variables.$color-light;
  background-color: variables.$color-100;

  &.disable {
    cursor: not-allowed;
    opacity: 0.4;
  }

  & Image {
    width: 1.15rem;
    aspect-ratio: 1;
  }
}

.btn-primary {
  & img {
    filter: variables.$color-svg-light;
  }
}

.btn-secondary {
  color: variables.$color-dark;
  background-color: rgba(variables.$color-light-rgb, 0.8);
  border: 1.5px solid variables.$color-border;

  & img {
    filter: variables.$color-svg-dark;
  }
}

.btn-S {
  font-size: variables.$btn-s;
}

.btn-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    opacity: 0;
    position: absolute;
    transform: translateX(50%, -50%);
    bottom: -6px;
    display: block;
    width: 6px;
    aspect-ratio: 1;
    border-radius: 20em;
    background-color: variables.$color-error;
  }

  &.active {
    & .icon-container {
      & .svg {
        filter: variables.$color-svg-dark;
      }
    }

    & span {
      color: variables.$color-dark;
    }
  }

  &.has-new::before {
    opacity: 1;
  }

  & .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-end: 0.25em;
    border-radius: 20em;
    transition: all variables.$animation-primary;

    & .svg {
      width: 1.4rem;
      filter: variables.$color-svg-grey;
    }

    & .profile {
      width: 25px;
      height: 25px;
      border-radius: variables.$border-radius;
      filter: none !important;
    }
  }

  & span {
    font-size: 0.8rem;
    color: variables.$color-grey;
  }
}

.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  aspect-ratio: 1;
  border-radius: variables.$border-radius;

  &.shadow {
    background-color: variables.$color-light-dark;
  }
}

.nav-container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 0.5em 0.75em;
  padding-inline: variables.$section-padding;
  border-top: 1px solid variables.$color-border;
  background-color: variables.$color-light;
}

.popUp-container {
  display: none;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  position: fixed;
  z-index: 21;
  width: 100%;
  height: auto;
  background-color: variables.$color-light;

  &.active {
    display: block;
  }

  &.hasFocus {
    height: 100dvh;
  }
}

.mainSearchBar-container {
  position: sticky;
  top: 0;
  padding-block: 1.5em;
  padding-inline: variables.$section-padding;

  &.hasFocus {
    background-color: variables.$color-light;
    border-bottom: 1.5px solid variables.$color-border;
  }
}

.searchBar-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-inline: 1.5em;
  margin-inline: auto;
  border-radius: variables.$border-radius;
  background-color: variables.$color-light;
  border: 1.5px solid variables.$color-border;

  &.hasFocus {
    background-color: variables.$color-light-dark;
  }

  & form {
    position: relative;
    width: 100%;

    & input {
      padding-block: 1em;
    }
  }

  & img {
    width: 1.65rem;
  }
}

.directionSearch-wrapper {
  padding: 1em;
  border: 1px solid variables.$color-border;
  border-radius: variables.$border-radius-s;
  background-color: variables.$color-light;

  &.hasFocus {
    background-color: variables.$color-light-dark;
  }

  &.hasFocus .directionSearch-form-container form .dots-container .separator {
    background-color: variables.$color-grey;
  }
}

.directionSearch-form-container {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;

  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 100%;

    & .dots-container {
      position: absolute;
      top: 50%;
      left: -0.05em;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      gap: 1em;
      width: 100%;

      & > Image {
        width: 1.2rem;
      }

      & .separator {
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: variables.$color-border;
      }
    }

    & .input-field {
      display: flex;
      align-items: center;
      gap: 1em;

      & Image {
        width: 1rem;
        height: max-content;
      }

      & input {
        padding-block: 0.5em;
      }
    }

    & .input-field:first-child {
      border-bottom: 1.5px solid variables.$color-border;
    }
  }
}

.delete-btn {
  cursor: pointer;
}

.placeExchange-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: variables.$border-radius;
  background-color: variables.$color-border;

  & Image {
    width: 0.5rem;
  }
}

.bottomSheet-container {
  position: absolute;
  bottom: 0;
  z-index: 25;
  display: none;
  width: 100%;
  max-height: 50dvh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  border-top-left-radius: variables.$border-radius-s;
  border-top-right-radius: variables.$border-radius-s;
  border-top: 1.5px solid variables.$color-border;
  background-color: variables.$color-light;

  &.active {
    display: block;
  }
}

.busTrack-search-container {
  padding-block-start: 0.5em;
  padding-inline: variables.$section-padding;
}

.grabHandle-container {
  cursor: grab;
  display: flex;
  justify-content: center;
  padding-block: 0.5em;

  & .grabHandle {
    width: 40px;
    height: 5px;
    background-color: variables.$color-grey;
    border-radius: variables.$border-radius;
  }
}

.results-container {
  overflow: hidden;
  margin-block: 0.5em 1.5em;
}

.modal-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 21;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1.5em;
  text-align: center;
  border-radius: variables.$border-radius-s;
  background-color: variables.$color-light;
  transition: all variables.$animation-primary;

  &.active {
    opacity: 1;
    pointer-events: all;
    bottom: 2rem;
  }

  & h3 {
    font-size: 1.15rem;
  }

  & p {
    font-size: 0.85rem;
    padding-block: 0.25em 2em;
    color: variables.$color-grey;
  }

  & .modalCTA-container {
    display: flex;
    gap: 1em;
  }
}

.busTrackResults {
  display: flex;
  gap: 1.25rem;
  padding-block: 1em;
  padding-inline: variables.$section-padding;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.busTrackResult-container {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 1em;
  border: 1px solid variables.$color-border;
  border-radius: variables.$border-radius-s;

  &.active {
    border: 1.75px solid variables.$color-100;
  }

  & .svg-container Image {
    width: 1rem;
  }

  & .resultInfo-container {
    display: flex;
    flex-direction: column;
    gap: 0.35em;

    & h4 {
      font-size: 0.85rem;
    }

    & p {
      font-size: 0.75rem;
    }

    & .resultBusLines-container {
      display: flex;
      justify-content: center;
      gap: 0.15em;
      margin-block-start: 0.25em;

      & span {
        $height: 30px;
        text-align: center;
        line-height: $height;
        width: $height;
        aspect-ratio: 1;
        font-size: 0.85em;
        color: variables.$color-light;
        border-radius: variables.$border-radius;
        background-color: variables.$color-100;
      }

      & .busLine-plus {
        color: variables.$color-dark;
        background-color: variables.$color-light;
        border: 1px solid variables.$color-border;
      }
    }
  }
}

.busTrackResultCTA-container {
  padding-inline: variables.$section-padding;

  & > button {
    text-align: center;
    width: 100%;
  }
}

.content-container {
  display: none;
  padding-block: 1em 1.5em;

  &.active {
    display: block;
  }
}

.contentCTA-container {
  display: flex;
  gap: 1em;
  padding-block-start: 1em;
  background-color: variables.$color-light;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & h5 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: variables.$border-radius;

  &.shadow {
    background-color: variables.$color-light-dark;
  }

  & img {
    filter: variables.$color-svg-dark;
  }
}

.suggestion {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-block: 0.5em;
  padding-inline: variables.$section-padding;

  & h5 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    color: rgba(variables.$color-dark, 0.8);
  }

  &:hover {
    background-color: variables.$color-light-dark;
  }
}

.busTrack-recent-container {
  margin-block: 1.5em;
}

.busTrack-recent-container h3 {
  font-size: 1rem;
  padding-inline: variables.$section-padding;
}

.busTrack-recent-wrapper {
  padding-block: 1em;
}

.busTrack-recent-CTA {
  padding-inline: variables.$section-padding;

  & > button {
    width: 100%;
  }
}

.btnDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 1em;
  padding-inline: variables.$section-padding;
  font-size: 1rem;
  color: variables.$color-100;

  &:hover {
    background-color: variables.$color-light-dark;
  }
}

.resultsContent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: variables.$section-padding;

  & h3 {
    font-size: 1.05rem;
    font-weight: 600;
  }
}

.directionTime-container {
  padding-block: 1em;
  padding-inline: variables.$section-padding;
  border-bottom: 1.5px solid variables.$color-border;

  & h4 {
    font-size: 1.25rem;
  }

  & > span {
    font-size: 0.9rem;
    color: variables.$color-grey;
  }
}

.directionSteps-container {
  padding-block: 1em;
  padding-inline: variables.$section-padding;

  & h4 {
    font-size: 1rem;
    padding-block-end: 0.5em;
  }
}

.directionStep {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding-block: 0.85em;

  &-content {
    width: 100%;
    & h5 {
      font-size: 1rem;
      padding-block-end: 0.85em;
    }

    & span {
      position: relative;
      display: block;
      width: 100%;
      font-size: 0.9rem;
      color: variables.$color-grey;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: variables.$color-border;
      }
    }
  }
}

.destination {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding-block: 0.85em;

  &-content {
    & h5 {
      font-size: 1rem;
      padding-block-end: 0.5em;
    }

    & span {
      display: flex;
      align-items: center;
      gap: 0.25em;
      font-size: 0.85rem;
      color: variables.$color-grey;

      & img {
        filter: variables.$color-svg-dark;
      }
    }
  }
}

.resultActions-container {
  display: flex;
  gap: 0.5em;
}
