@font-face {
  font-family: "General Sans";
  src: url("../fonts//GeneralSans-Light.ttf") format("ttf"),
    url("../fonts/GeneralSans-Light.woff") format("woff"),
    url("../fonts/GeneralSans-Light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.ttf") format("ttf"),
    url("../fonts/GeneralSans-Regular.woff") format("woff"),
    url("../fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.ttf") format("ttf"),
    url("../fonts/GeneralSans-Medium.woff") format("woff"),
    url("../fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.ttf") format("ttf"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff"),
    url("../fonts/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Burma";
  src: url("../fonts/Century\ Burma.ttf") format("ttf"),
    url("../fonts/Century\ Burma.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
