@use "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "General Sans";
  font-weight: 400;
  color: variables.$color-dark;
  background-color: variables.$color-light;
}

h1,
h2,
h3 {
  font-weight: 500 !important;
}

h4,
h5 {
  font-weight: 500 !important;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

ul li {
  list-style: none;
}

.img {
  max-width: 100%;
  object-fit: cover;
}

input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

// input[type="text"] {
//   padding-block: 1em;
// }

input:active,
input:focus {
  border: none;
}

input::placeholder {
  font-size: 1rem;
}
